:root {
  --scarlet: #FF6F6F;
  --orange: #F9A857;
  --green: #56B37B;
  --cyan: #51C0C0;
  --pink: #FF94B4;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 10%);
  font-family: "DM Sans", sans-serif;
  overflow: auto;
}

body > header,
body > footer {
  position: relative;
  text-align: center;
  padding-top: 0.5em;
  background-color: var(--cyan);
  color: white;
  width: 100dvw;
}

footer > p {
  margin: 0;
}

h2 {
  text-align: center;
}

main {
  padding: 2em;
}

nav {
  display: none;
  background-color: var(--orange);
  overflow: hidden;
}

nav > ul:before {
    left: 100%;
    margin-left: 1px;
    display: block;
  width: 300%;
  position: absolute;
  top: 50%;
  }
  
  nav > ul:after {
    right: 100%;
    margin-right: 1px;
    display: block;
  width: 300%;
  position: absolute;
  top: 50%;
  }

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-links li {
  display: inline-block;
  margin: 1px 0.5em 0 0.5em;
  border-radius: 0.5em;
  padding: 0.85em;
  border: solid 1px transparent;
  -moz-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
  -ms-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
}

.nav-links li a {
  display: block;
  color: white;
  text-align: center;
  margin: 0 0.5em 0 0.5em;
  text-decoration: none;
}

.nav-links li.active,
.nav-links li:hover {
    border: solid rgb(255, 255, 255);
}

#toggle {
  display: none;
}

.burger-menu {
  color: white;
  font-size: 10dvh;
  cursor: pointer;
  text-align: center;
}

#toggle:checked + .burger-menu + nav {
  display: block;
}

@media only screen and (min-width: 840px) {
  .burger-menu {
    display: none;
  }
  nav {
    display: block;
  }
}

#about-text > figure {
  text-align: center;
}

#home-table img {
  width: 100%;
}

/* Image Animations */

@keyframes image-load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.scratch-cat,
.gallery-col1 {
  animation: image-load 1s;
  animation-timing-function: ease-in;
}

.duo-owl,
.gallery-col2 {
  animation: image-load 2s;
  animation-timing-function: ease-in;
}

.clyde-bot,
.gallery-col3 {
  animation: image-load 3s;
  animation-timing-function: ease-in;
}

#gallery-table img {
  border: 5px solid var(--pink);
  border-radius: 10px;
  width: 100%;
}

#gopher-pic {
  transform: scale(1, 1.17311727);
}

/* Responsiveness */

@media screen and (max-width: 1680px) {
  .container {
    width: 100%;
  }
  body {
    font-size: 20pt;
    line-height: 1.75em;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    width: 100%;
  }
  body {
    font-size: 16pt;
    line-height: 1.5em;
  }
}

@media screen and (max-width: 960px) {
  .container {
    width: 100%;
  }
  body {
    font-size: 13pt;
    line-height: 1.65em;
  }
}

@media screen and (max-width: 840px) {
  .container {
    width: 100%;
  }
  body > header,
  body > footer {
    background-color: var(--scarlet) !important;
  }
  nav li {
    font-size: 8pt;
  }
}

/* Contact Form */

#content-form-section {
  display: flex;
  flex-direction: column;
}

#contact-form {
  display: grid;
  padding-left: 2em;
  width: 4in;
}

#contact-form input,
#contact-form textarea {
  border: black solid 2px;
  border-radius: 5px;
  margin-left: 0;
}

#contact-form input:valid,
#contact-form textarea:valid {
  border: var(--green) solid 2px;
}

#contact-form input:user-invalid,
#contact-form textarea:user-invalid {
  border: red solid 2px;
}

#contact-form button {
  margin-left: auto;
  border: black solid 2px;
  border-radius: 5px;
  font-weight: bold;
}

#contact-form button:hover {
  cursor: pointer;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-top: 0.5em;
}

.req {
  color: red;
}

.form-output {
  column-gap: 1em;
}

.form-output > output {
  font-size: small;
  color: red;
}